{% extends 'base.html' %}

{% block content %}

{% if drinks %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for drink in drinks %}
    <div class="card dark-mode" style="width: 18rem;">
    <img class="card-img-top" src="{{drink.strDrinkThumb}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{drink.strDrink}}</h5>
      <a href="/drink/{{drink.idDrink}}" class="btn btn-primary btn-sm">Details</a>
    </div>
  </div>
  {% endfor %}
</div>


{% else %}
<div>
    <h4>No Results!</h4>
</div>
{% endif %}
{% endblock %}
