{% extends 'base.html' %}


{% block content %}


<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Edit Cocktail</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class= "btn btn-success btn-block btn-sm">Save</button>
        </form>
        <form method = "POST" action = "/user/{{current_user.id}}/{{cocktail.id}}/delete">
            <div class="col-md-7 col-lg-5">
            <button class= "btn btn-danger  btn-block btn-sm">Delete</button></form>
  </div>


<div class="card-columns">
    <div class="card" style="width: 18rem;">
        <h4>Ingredients:</h4>
            {% for item in cocktail.recipe %}
    
             <li style="list-style-type: none;">Edit<a href = "/user/{{user.id}}/{{cocktail.id}}/{{item.id}}/edit_ingredients"> {{item.name}}: {{item.amount}}{{item.measurement}} </a></li>
            {% endfor %}
        </ul>
    </div>
    <a href = "/user/{{current_user.id}}/{{cocktail.id}}/add_ingredients" class = "btn btn-primary btn-sm">Add</a>
</div>


{% endblock %}
