{% extends 'base.html' %}

{% block title %}

<div class="container">
    <div class="row justify-content-center">
      <h1 class = "text-center">Welcome to Cocktail Hour!</h1>
    </div>
  </div>

{% endblock %}


{% block content %}

<div class="container darkish">
    <div class="row justify-content-center">
      <p class = "text-center">Explore the world of hand-crafted cocktails.</p>
      <p class = "text-center">Search by ingredients, cocktail name, or see a list of cocktails by first letter and save to your personal page</p>
      <p class = "text-center">Create your own unique cocktail</p>
      </div>
  </div>

{% endblock %}