{% extends 'base.html' %}

{% block content %}

<h2 class="text-center darkish">Saved Cocktails</h2>
<div class="row">
{% for drink in user.saved_cocktails %}
<div class="card-columns col">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{drink.drink_img_url}}" alt="Card image cap">
    <div class="card-body dark-mode">
      <h5 class="card-title">{{drink.name}}</h5>
      <a href="/drink/{{drink.id}}" class="btn btn-primary btn-sm">Details</a>
    <form action ="/drink/{{drink.id}}/delete" method = "POST">
      <button  class = "btn btn-danger btn-sm">Delete</button> </form>  
    </div>
  </div>
</div>
{% endfor %}
</div>

<hr>

<h2 class="text-center darkish">Created Cocktails</h2>
<div class="row">
{% for drink in user.user_cocktails %}
<div class="card-columns col">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{drink.drink_img_url}}" alt="Card image cap">
  <div class="card-body dark-mode">
    <h5 class="card-title">{{drink.name}}</h5>
    <a href="/user/{{user.id}}/user_cocktail/{{drink.id}}" class="btn btn-primary btn-sm">Details</a>
  <form action ="/drink/{{drink.id}}/delete" method = "POST">
    <button  class = "btn btn-danger btn-sm">Delete</button> </form>  
  </div>
</div>
</div>
{% endfor %}
</div>



{% endblock %}